html, body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(45deg, #2d3a46, #90b6e2);
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
@media (min-height: 500px) {
  body {
    align-items: center;
    padding-top: 0;
  }
}

.clock {
  width: 300px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 25px;
  background-color: rgba(41, 40, 39, 0.726);
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.8), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  border-radius: 5px;
}
.clock .progress-radial {
  display: inline-block;
  position: relative;
  font-size: 2.2em;
  width: 6em;
  padding-bottom: 6em;
  border-radius: 50%;
  background-color: #68bbff;
  box-shadow: 0 12px 28px 0 rgba(39, 39, 39, 0.8), 0 20px 40px 0 rgba(37, 37, 37, 0.21);
}
.clock .progress-radial .overlay {
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  padding-top: 34%;
  border-radius: 50%;
  background-color: #363636;
  color: #90b6e2;
}
.clock .progress-radial .overlay.session .overlay {
  color: #68bbff;
}
.clock .progress-radial .overlay.break .overlay {
  color: #c5ff5b;
}
.clock .setting {
  border-top: 1.5px solid #90b6e2;
  border-bottom: 1.5px solid #90b6e2;
}
.clock .setting .time-session, .clock .setting .time-break {
  display: inline-block;
  padding: 20px;
}
.clock .setting .time-session h5, .clock .setting .time-break h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
.clock .setting .time-session button, .clock .setting .time-break button {
  background-color: #90b6e2;
  border: none;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  margin: 0 7px;
  font-weight: bolder;
  box-shadow: 0 10px 18px 0 rgba(39, 39, 39, 0.8), 0 15px 26px 0 rgba(51, 51, 51, 0.21);
}
.clock .setting .time-session button:hover, .clock .setting .time-break button:hover {
  background-color: #6a86a1;
  transition: 0.5s;
}
.clock .setting .time-session .time-session-display, .clock .setting .time-session .time-break-display, .clock .setting .time-break .time-session-display, .clock .setting .time-break .time-break-display {
  margin-bottom: 8px;
  margin-top: 0;
  line-height: 1em;
}
.clock .setting .time-session .time-session-display, .clock .setting .time-break .time-session-display {
  color: #68bbff;
}
.clock .setting .time-session .time-break-display, .clock .setting .time-break .time-break-display {
  color: #68bbff;
}
.clock .session-info, .clock .setting, .clock .controls {
  color: #a3ceff;
  text-shadow: 2px 2px 15px #90b6e2;
}

.controls {
  padding-top: 20px;
  padding-bottom: 10px;
}
.controls button {
  background-color: #9bc1e4;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 0.9em;
  height: 40px;
  width: 70px;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.287);
}
.controls button:hover {
  background-color: #7fa0be;
  transition: 0.5s;
}

.step-0.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(90deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-0.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(90deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-1.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(93.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-1.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(93.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-2.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(97.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-2.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(97.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-3.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(100.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-3.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(100.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-4.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(104.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-4.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(104.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-5.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(108deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-5.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(108deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-6.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(111.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-6.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(111.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-7.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(115.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-7.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(115.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-8.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(118.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-8.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(118.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-9.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(122.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-9.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(122.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-10.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(126deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-10.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(126deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-11.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(129.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-11.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(129.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-12.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(133.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-12.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(133.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-13.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(136.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-13.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(136.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-14.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(140.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-14.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(140.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-15.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(144deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-15.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(144deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-16.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(147.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-16.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(147.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-17.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(151.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-17.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(151.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-18.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(154.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-18.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(154.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-19.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(158.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-19.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(158.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-20.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(162deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-20.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(162deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-21.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(165.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-21.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(165.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-22.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(169.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-22.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(169.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-23.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(172.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-23.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(172.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-24.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(176.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-24.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(176.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-25.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(180deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-25.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(180deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-26.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(183.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-26.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(183.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-27.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(187.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-27.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(187.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-28.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(190.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-28.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(190.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-29.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(194.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-29.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(194.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-30.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(198deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-30.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(198deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-31.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(201.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-31.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(201.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-32.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(205.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-32.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(205.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-33.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(208.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-33.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(208.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-34.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(212.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-34.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(212.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-35.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(216deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-35.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(216deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-36.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(219.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-36.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(219.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-37.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(223.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-37.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(223.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-38.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(226.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-38.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(226.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-39.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(230.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-39.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(230.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-40.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(234deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-40.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(234deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-41.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(237.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-41.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(237.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-42.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(241.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-42.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(241.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-43.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(244.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-43.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(244.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-44.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(248.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-44.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(248.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-45.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(252deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-45.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(252deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-46.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(255.6deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-46.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(255.6deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-47.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(259.2deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-47.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(259.2deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-48.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(262.8deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-48.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(262.8deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-49.session {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(266.4deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-49.break {
  background-image: linear-gradient(90deg, #c6e5ff 50%, transparent 50%, transparent), linear-gradient(266.4deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-50.session {
  background-image: linear-gradient(-90deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-50.break {
  background-image: linear-gradient(-90deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-51.session {
  background-image: linear-gradient(-86.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-51.break {
  background-image: linear-gradient(-86.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-52.session {
  background-image: linear-gradient(-82.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-52.break {
  background-image: linear-gradient(-82.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-53.session {
  background-image: linear-gradient(-79.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-53.break {
  background-image: linear-gradient(-79.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-54.session {
  background-image: linear-gradient(-75.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-54.break {
  background-image: linear-gradient(-75.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-55.session {
  background-image: linear-gradient(-72deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-55.break {
  background-image: linear-gradient(-72deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-56.session {
  background-image: linear-gradient(-68.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-56.break {
  background-image: linear-gradient(-68.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-57.session {
  background-image: linear-gradient(-64.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-57.break {
  background-image: linear-gradient(-64.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-58.session {
  background-image: linear-gradient(-61.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-58.break {
  background-image: linear-gradient(-61.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-59.session {
  background-image: linear-gradient(-57.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-59.break {
  background-image: linear-gradient(-57.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-60.session {
  background-image: linear-gradient(-54deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-60.break {
  background-image: linear-gradient(-54deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-61.session {
  background-image: linear-gradient(-50.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-61.break {
  background-image: linear-gradient(-50.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-62.session {
  background-image: linear-gradient(-46.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-62.break {
  background-image: linear-gradient(-46.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-63.session {
  background-image: linear-gradient(-43.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-63.break {
  background-image: linear-gradient(-43.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-64.session {
  background-image: linear-gradient(-39.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-64.break {
  background-image: linear-gradient(-39.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-65.session {
  background-image: linear-gradient(-36deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-65.break {
  background-image: linear-gradient(-36deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-66.session {
  background-image: linear-gradient(-32.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-66.break {
  background-image: linear-gradient(-32.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-67.session {
  background-image: linear-gradient(-28.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-67.break {
  background-image: linear-gradient(-28.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-68.session {
  background-image: linear-gradient(-25.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-68.break {
  background-image: linear-gradient(-25.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-69.session {
  background-image: linear-gradient(-21.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-69.break {
  background-image: linear-gradient(-21.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-70.session {
  background-image: linear-gradient(-18deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-70.break {
  background-image: linear-gradient(-18deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-71.session {
  background-image: linear-gradient(-14.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-71.break {
  background-image: linear-gradient(-14.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-72.session {
  background-image: linear-gradient(-10.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-72.break {
  background-image: linear-gradient(-10.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-73.session {
  background-image: linear-gradient(-7.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-73.break {
  background-image: linear-gradient(-7.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-74.session {
  background-image: linear-gradient(-3.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-74.break {
  background-image: linear-gradient(-3.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-75.session {
  background-image: linear-gradient(0deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-75.break {
  background-image: linear-gradient(0deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-76.session {
  background-image: linear-gradient(3.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-76.break {
  background-image: linear-gradient(3.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-77.session {
  background-image: linear-gradient(7.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-77.break {
  background-image: linear-gradient(7.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-78.session {
  background-image: linear-gradient(10.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-78.break {
  background-image: linear-gradient(10.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-79.session {
  background-image: linear-gradient(14.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-79.break {
  background-image: linear-gradient(14.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-80.session {
  background-image: linear-gradient(18deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-80.break {
  background-image: linear-gradient(18deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-81.session {
  background-image: linear-gradient(21.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-81.break {
  background-image: linear-gradient(21.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-82.session {
  background-image: linear-gradient(25.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-82.break {
  background-image: linear-gradient(25.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-83.session {
  background-image: linear-gradient(28.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-83.break {
  background-image: linear-gradient(28.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-84.session {
  background-image: linear-gradient(32.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-84.break {
  background-image: linear-gradient(32.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-85.session {
  background-image: linear-gradient(36deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-85.break {
  background-image: linear-gradient(36deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-86.session {
  background-image: linear-gradient(39.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-86.break {
  background-image: linear-gradient(39.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-87.session {
  background-image: linear-gradient(43.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-87.break {
  background-image: linear-gradient(43.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-88.session {
  background-image: linear-gradient(46.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-88.break {
  background-image: linear-gradient(46.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-89.session {
  background-image: linear-gradient(50.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-89.break {
  background-image: linear-gradient(50.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-90.session {
  background-image: linear-gradient(54deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-90.break {
  background-image: linear-gradient(54deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-91.session {
  background-image: linear-gradient(57.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-91.break {
  background-image: linear-gradient(57.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-92.session {
  background-image: linear-gradient(61.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-92.break {
  background-image: linear-gradient(61.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-93.session {
  background-image: linear-gradient(64.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-93.break {
  background-image: linear-gradient(64.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-94.session {
  background-image: linear-gradient(68.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-94.break {
  background-image: linear-gradient(68.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-95.session {
  background-image: linear-gradient(72deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-95.break {
  background-image: linear-gradient(72deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-96.session {
  background-image: linear-gradient(75.6deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-96.break {
  background-image: linear-gradient(75.6deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-97.session {
  background-image: linear-gradient(79.2deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-97.break {
  background-image: linear-gradient(79.2deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-98.session {
  background-image: linear-gradient(82.8deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-98.break {
  background-image: linear-gradient(82.8deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-99.session {
  background-image: linear-gradient(86.4deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-99.break {
  background-image: linear-gradient(86.4deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

.step-100.session {
  background-image: linear-gradient(90deg, #68bbff 50%, transparent 50%, transparent), linear-gradient(270deg, #68bbff 50%, #c6e5ff 50%, #c6e5ff);
}
.step-100.break {
  background-image: linear-gradient(90deg, #c5ff5b 50%, transparent 50%, transparent), linear-gradient(270deg, #c5ff5b 50%, #c6e5ff 50%, #c6e5ff);
}

/*# sourceMappingURL=main.css.map */
